.message-container {
  display: flex;
  align-items: flex-start;
}

.message-container.multi-line {
  align-items: flex-start;
}

.icon-container {
  margin-right: 10px;
}

.message-text-container {
  flex-grow: 1;
}

.message-user {
  background-color: #f5f5f5; /* slightly darker color */
}

.message-bot {
  background-color: #fff; /* default color */
}